<h3>Add New Song</h3>
<form method="post" action="/new">
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>URL:</label>
    <input type="url" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


