<h3>Sign in for Ryan's AWESOME (<em>DISPLAY ONLY</em>) Playlist</h3>
<form method="post" action="/signup">
  <div>
    <label>Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label>E-mail:</label>
    <input type="text" name="email">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>


